* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: #2f2533;
}

body{
  display: flex;
  flex-direction: column;
}
/* Sessão do cabeçalho / Navbar */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}

.logo {
  margin-right: 200px;
  height: auto;
  width: 200px;
  margin-left: 30px;
}

.nav-buttons {
  text-decoration: none;
  font-size: 15px;
  transition: 0.1s ease-in-out;
  margin: 15px;
  }

.nav-buttons:hover {
  border-bottom: 3px solid #6e3586;
}

.log-buttons {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  margin-right: 30px;
}

.log-buttons:hover {
  transform: scale(1.1);
}

#cadastro {
  background-color: #5c2e6d;
  color: white;
  border-radius: 50px;
  padding: 15px;
  margin-left: 150px;
}

#login {
  border: 3px solid #5c2e6d;
  border-radius: 50px;
  padding: 15px 30px;
}

.content{
  display: flex;
  flex-direction: column;
}

/* Sessão da Main-Section */

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.main-text {
  color: #2f2533;
  width: 75%;
  margin-top: 125px;
  height: auto;
  margin-left: 50px;
}

.helpdesk {
  color: #6f5580;
}

.main-title {
  font-size: 48px;
}

.main-button {
  background-color: transparent;
  border: 1px solid #9455be;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  margin-left: 200px;
  margin-top: 75px;
  transition: 0.2s ease-in-out;
}

.main-button:hover {
  transform: scale(1.1);
  background-color: #9455be;
  color: white;
}

.main-img {
  height: auto;
  margin-right: 120px;
  margin-left: 50px;
}

#main-image {
  width: 300px;
  height: auto;
}
.imagens {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#recursos h1 {
  font-size: 3rem;
  color: #2f2533;
}
.imagens img {
  width: 200px;
}
#recursos,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}
figure {
  width: 450px;
}
figcaption {
  font-size: 1.5rem;
  color: #6f5580;
}
/* Seção de planos */

#planos {
  background-color: #8487f6;
  padding: 1rem 0;
  height: auto;
}

.planos-texto {
  text-align: center;
  margin: 3rem 0;
}
.planos-texto h1 {
  font-size: 3rem;
  color: #2f2533;
}
.planos-texto p {
  font-size: 1.5rem;
  color: #2f2533;
}

.div-planos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.plano{
  background-color: rgb(238, 228, 228);
  padding: 2rem;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 650px;
}
.icone-plano{
  width: 50px;
  height: auto;
}

.plano h2{
  margin: 10px;
}

.plano h3{
  margin: 10px;
}

.plano ul{
  list-style-type: none;
  height: 450px;
  margin-top: 20px;
}

.plano li{
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}

.check{
  width: 20px;
  height: auto;
}

#button-basics{
  margin-top: 245px;
}

#button-premium{
  margin-top: 50px;
}

#button-enter{
  margin-top: 213px;
}

.b-planos{
  background-color: #9455be;
  border: none;
  padding: 15px;
  border-radius: 30px;
  width: 120px;
  transition: 0.2s ease-in-out; 
}

.b-planos:hover{
  transform: scale(1.06);
}

.b-planos a{
    color: rgb(238, 228, 228);
  }
/* Área do Rodapé ou Footer */

footer{
  background-color: #000000;
  height: 90vh;
  display: flex;
  align-items: center;
}

form{
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: 10px;
  padding: 3rem;
  border-radius: 30px;
  margin-left: 100px;
}

form h2{
  font-size: 20px;
  color: rgb(218, 218, 218);
  padding-bottom: 20px;
  text-align: center;
}

form input{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #000000;
  color: rgb(201, 201, 201);
}

input::placeholder{
  color: rgb(201, 201, 201);
}

textarea{
  background-color: #000000;
  border: none;
  outline: none;
  border-radius: 10px;
  color: rgb(201, 201, 201);
  padding: 10px;
}

textarea::placeholder{
  margin-top: 20px;
  color: rgb(201, 201, 201);
  transform: translateY(85px);
}

.form-submit{
  padding: 10px;
  width: 10rem;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(218, 218, 218);
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.form-submit:hover{
  transform: scale(1.08);
}

.content-footer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 50rem;
  height: 30rem;
  margin-left: 5rem;  
}

.redes-sociais{
  text-decoration: none;
  list-style: none;
  display: flex;
}

.redes-sociais img{
  transition: 0.2s ease-in-out;
}

.redes-sociais img:hover{
  transform: scale(1.1);
}

.redes-sociais li{
  padding: 10px;
}

.footer-links{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.f-links{
  padding: 9px;
  background-color: transparent;
  border: none;
  color: rgb(218, 218, 218);
  font-size: 24px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.f-links:hover{
  background-color: rgb(218, 218, 218);
  color: #1b1b1b;
  transition: .2s ease-in-out;
}

.f-object{
  color: rgb(218, 218, 218);
  font-size: 16px;
  padding: 2rem;
  text-align: center;
}

span{
  font-weight: 800;
}
